* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
    background: linear-gradient(135deg, #eef2f3, #d9e2ec);
    margin: 0;
    transition: background 0.3s;
}

.dark body {
    background: linear-gradient(135deg, #1e293b, #334155);
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
}

.dark .container {
    background: #020617;
    color: #e5e7eb;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

label {
    font-weight: 600;
}

textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    margin: 8px 0 18px;
    resize: vertical;
}

button {
    width: 100%;
    padding: 14px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #1e40af;
}

.reset-btn {
    margin-top: 10px;
    background: #6b7280;
}

.reset-btn:hover {
    background: #374151;
}



.result {
    margin-top: 30px;
    padding: 20px;
    border-radius: 12px;
    background: #f1f5f9;
}

.dark .result {
    background: #020617;
}


.easy { color: #16a34a; }
.medium { color: #ca8a04; }
.hard { color: #dc2626; }


.bar {
    height: 14px;
    background: #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0 20px;
}

.fill {
    height: 100%;
    width: 0;
    transition: width 1s ease;
}

.easy-fill { background: #16a34a; }
.medium-fill { background: #ca8a04; }
.hard-fill { background: #dc2626; }



.toggle {
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
}


#theme-icon {
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    padding: 4px;
    border-radius: 50%;
}

#theme-icon.rotate {
    transform: rotate(180deg) scale(1.2);
    opacity: 0;
}
